<div class="flex justify-center px-24 py-10 gap-[1.3rem]">
  <!-- Left Section: Stack the two cards -->
  <div class="flex flex-col space-y-5 col-span-1 max-w-[17rem]">
    <%= render partial: 'user_card' %>
    <%= render partial: 'program_card' %>
  </div>

  <!-- Right Section: Main Content -->
  <div class="flex flex-col gap-[1.5rem] max-w-[70%]">
    <div>
      <%= render partial: 'shortlist_card_desktop' %>
    </div>
    <div>
      <h1 class="text-2xl font-semibold text-[#202020] mb-2 max-[17rem]">
        Available Mentors
      </h1>
      <!-- Grid of mentors -->
      <div id="mentor-list-section" class="grid sm:grid-cols-1 lg:grid-cols-2 2xl:grid-cols-3 gap-3 rounded-[0.55rem] max-h-[18rem] overflow-y-auto">
        <% available_mentors_count = 0 %>
        <% mentors_data.each do |mentor| %>
          <%# TODO: Refactor section below (might need to modify user methods in model or create new scope) %>
          <% current_mentee_count = mentor.mentee_capacity_count(mentor.cohort.id) %>
          <% capacity_cap = mentor.capacity %>
          <% if current_user.cohort.running? && current_mentee_count < capacity_cap %>
            <%= render 'profile_card_sm', mentor: mentor %>
            <% available_mentors_count += 1 %>
          <% end %>
        <% end %>
      </div>
      <!-- If no available mentors -->
      <% if !current_user.cohort.running? %>
        <div class="flex flex-col border items-center justify-center text-sm text-[#898989] border-[#D9D9D9] h-[17rem] rounded-[0.55rem]">
          <img src=<%= asset_path('icon/danger_circle.svg') %> alt="danger_icon" class="h-[2rem]">
          <p>Thank you for participating!</p>
          <p class="font-normal">Mentor matching for your cohort is now closed.</p>
        </div>
      <% elsif available_mentors_count == 0 %>
        <div class="flex flex-col border items-center justify-center text-sm text-[#898989] border-[#D9D9D9] h-[17rem] rounded-[0.55rem]">
          <img src=<%= asset_path('icon/danger_circle.svg') %> alt="danger_icon" class="h-[2rem]">
          <p>Thank you for participating!</p>
          <p class="font-normal">All mentors for your cohort are currently matched.</p>
        </div>
      <% end %>
    </div>
  </div>
</div>

