<div id="<%= dom_id cohort %>">
  <p>
    <strong>Program:</strong>
    <%= cohort.program_id %>
  </p>

  <p>
    <strong>Cohort name:</strong>
    <%= cohort.cohort_name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= cohort.description %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= cohort.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= cohort.end_date %>
  </p>

  <p>
    <strong>Creator:</strong>
    <%= cohort.creator_id %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= cohort.contact_id %>
  </p>

</div>
