<p style="color: green"><%= notice %></p>

<%= render @cohort %>

<div>
  <%= link_to "Edit this cohort", edit_cohort_path(@cohort) %> |
  <%= link_to "Back to cohorts", cohorts_path %>

  <%= button_to "Destroy this cohort", @cohort, method: :delete %>
</div>
