<div class="flex justify-between">
  <h1 class="text-2xl font-semibold text-[#202020] mb-1">
    Meeting with Your Mentee
  </h1>
  <a href="<%= dashboard_path(role: current_user.role) %>" class="flex gap-1 items-center">
    <img class="h-[1.2rem]" src=<%= asset_path("icon/back-button.svg") %> alt="back-button"/>
    <p class="text-xs text-[#676666]">Back To the Dashboard</p>
  </a>
</div>

<p class="text-sm text-[#898989] mb-5">
  Where conversations spark growth. Schedule your next meeting with your mentor today!
</p>

<% @mentees.each_with_index do |mentee, i| %>
  <% match = Match.find_by(mentor_id: current_user.id, mentee_id: mentee.id) %>

  <h2 class="text-xl font-semibold text-[#202020] mt-6">
    <%= i + 1 %>. <%= mentee.name %>
  </h2>

  <table class="w-full text-[0.8rem] text-center rtl:text-right text-[#898989] mt-4">
    <thead class="text-xs text-white bg-[#202020] rounded-t-lg">
    <tr>
      <th scope="col" class="px-6 py-2 rounded-tl-lg">No.</th>
      <th scope="col" class="px-6 py-2">Mentee</th>
      <th scope="col" class="px-6 py-2">Date</th>
      <th scope="col" class="px-6 py-2">Time</th>
      <th scope="col" class="px-6 py-2">Location</th>
      <th scope="col" class="px-6 py-2">Note</th>
      <th scope="col" class="px-6 py-2 rounded-tr-lg">Action</th>
    </tr>
    </thead>
    <tbody>
    <% meetings_data = @mentee_meetings[mentee.id] %>
    <% meetings_data[:meetings].each_with_index do |meeting, i| %>
      <tr class="text-[#202020] font-medium bg-white border-b hover:bg-gray-50">
        <td class="px-6 py-2"><%= i + 1 %></td>
        <td class="flex items-center px-6 py-4 text-[#202020] whitespace-nowrap dark:text-white">
          <img src="<%= asset_path("sample_img/mentor_sample.png") %>" alt="User picture" class="w-8 h-8 rounded-full">
          <div class="ps-3">
            <div class="font-medium"><%= mentee.name %></div>
          </div>
        </td>        <td class="px-6 py-2"><%= meeting.date.strftime('%a, %b %d, %Y') %></td>
        <td class="px-6 py-2"><%= meeting.time.strftime('%I:%M %p') %></td>
        <td class="px-6 py-2">
          <%= meeting.location %>
        </td>
        <td class="px-6 py-2">
          <a href="#" data-modal-target="viewNoteModal" data-meeting-id="<%= meeting.id %>" class="text-[#898989] hover:underline">
            Note
          </a>
        </td>
        <td class="px-6 py-2">
          <%= link_to "Edit", edit_meeting_path(meeting.id), class: "text-[#202020] hover:underline" %>
        </td>
      </tr>
    <% end %>

    <% meetings_data[:remaining_meetings].times do |i| %>
      <tr class="text-[#898989] font-medium bg-white border-b hover:bg-gray-50">
        <td class="px-6 py-2"><%= meetings_data[:meetings].count + i + 1 %></td>
        <td class="flex items-center px-6 py-4 text-[#898989] whitespace-nowrap dark:text-white">
          <img src="<%= asset_path("sample_img/mentor_sample.png") %>" alt="User picture" class="w-8 h-8 rounded-full">
          <div class="ps-3">
            <div class="font-medium"><%= mentee.name %></div>
          </div>
        </td>        <td class="px-6 py-2"></td>
        <td class="px-6 py-2">Not Scheduled Yet</td>
        <td class="px-6 py-2"></td>
        <td class="px-6 py-2"></td>
        <td class="px-6 py-2">
          <%= link_to "Add Meeting", new_meeting_path(match_id: match.id), class: "text-[#202020] hover:underline" %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

<%= render "meetings/view_note_modal" %>