<!-- NOTE Modal-->
<div id="viewNoteModal-<%= meeting.id %>" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative p-4 w-full max-w-2xl max-h-full">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-[#676666]">
      <!-- Modal header -->
      <div class="flex items-center justify-between p-4 md:p-5 rounded-t dark:border-[#898989]">
        <h3 class="text-xl font-semibold text-[#202020] dark:text-white">
          Meeting Notes
        </h3>
        <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-[#202020] rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-[#898989] dark:hover:text-white" data-modal-hide="viewNoteModal-<%= meeting.id %>">
          <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <div class="p-4 md:p-5">
        <p id="meeting-notes-content-<%= meeting.id %>" class="text-[1rem] font-medium leading-relaxed text-[#898989] dark:text-gray-400">
          <% if meeting.notes == "" %>
            This note is currently empty.
          <% else %>
            <%= meeting.notes %>
          <% end %>
        </p>
      </div>
      <!-- Modal footer -->
      <div class="flex justify-end items-center p-4 md:p-5 border-gray-200 rounded-b dark:border-[#898989]">
        <button data-modal-hide="viewNoteModal-<%= meeting.id %>" type="button" class="py-2.5 px-5 text-sm font-medium text-[#202020] bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-[#676666] focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-[#676666] dark:bg-[#202020] dark:text-gray-400 dark:border-[#898989] dark:hover:text-white dark:hover:bg-[#676666]">
          Close
        </button>
      </div>
    </div>
  </div>
</div>


<script>
    document.addEventListener("turbo:load", function() {
        const noteLinks = document.querySelectorAll("a[data-modal-target^='viewNoteModal']");

        noteLinks.forEach(link => {
            link.addEventListener("click", function(event) {
                event.preventDefault();

                // Get the meeting notes from the data attribute
                const meetingNotes = link.getAttribute("data-meeting-notes");
                const modalId = link.getAttribute("data-modal-target");
                const notesContentElement = document.getElementById("meeting-notes-content-" + modalId.split("-")[1]);

                // Insert the notes into the modal
                notesContentElement.textContent = meetingNotes;
            });
        });
    });
</script>
