<div class="flex justify-center p-6 lg:px-24 lg:py-10 gap-[1.3rem]">
  <!-- Left Section: Stack the two cards -->
  <div class="desktop-view">
    <div class="flex flex-col space-y-5 col-span-1 w-[17rem]">
      <%= render partial: 'dashboard/user_card' %>
      <%= render partial: 'dashboard/program_card' %>
    </div>
  </div>
  <div class="col-span-3">
    <div class="flex justify-between">
      <h1 class="text-2xl font-semibold text-[#202020] mb-1">
        Meeting with Your Mentor
      </h1>
      <a href="<%= dashboard_path(role: current_user.role) %>" class="flex gap-1 items-center">
        <p class="text-xs text-[#676666]">Back To the Dashboard</p>
      </a>
    </div>

    <p class="text-sm text-[#898989] mb-5">
      Where conversations spark growth. Schedule your next meeting with your mentor today!
    </p>

    <table class="w-full text-[0.8rem] text-center rtl:text-right text-[#898989]">
      <thead class="text-xs text-white bg-[#202020] rounded-t-lg">
        <tr>
          <th scope="col" class="px-6 py-2 rounded-tl-lg">No.</th>
          <th scope="col" class="px-6 py-2">Mentor</th>
          <th scope="col" class="px-6 py-2">Date</th>
          <th scope="col" class="px-6 py-2">Time</th>
          <th scope="col" class="px-6 py-2">Location</th>
          <th scope="col" class="px-6 py-2">Note</th>
          <th scope="col" class="px-6 py-2 rounded-tr-lg">Action</th>
        </tr>
      </thead>
      <tbody>
        <% @meetings.each do |meeting| %>
          <tr id="meeting-<%= meeting.id %>" class="text-[#202020] font-medium bg-white border-b dark:bg-[#202020] dark:border-[#676666] hover:bg-gray-50 dark:hover:bg-[#898989]">
            <td class="px-6 py-2"><%= meeting.id %></td>
            <th scope="row" class="flex items-center px-6 py-4 text-[#202020] whitespace-nowrap dark:text-white">
              <img src="<%= asset_path("sample_img/mentor_sample.png") %>" alt="User picture" class="w-8 h-8 rounded-full">
              <div class="ps-3">
                <div class="font-medium"><%= meeting.mentor.name %></div>
              </div>
            </th>
            <td class="px-6 py-2"><%= meeting.date %></td>
            <td class="px-6 py-2"><%= meeting.time %></td>
            <td class="px-6 py-2"><%= meeting.location %></td>
            <td class="px-6 py-2">
              <a href="#" type="button" data-modal-target="editNoteModal" data-modal-show="editNoteModal" class="font-medium text-[#898989] dark:text-[#898989] hover:underline">
                Add Note
              </a>
            </td>
            <td class="px-6 py-2 font-medium text-[#898989]">
              <button data-modal-target="crud-modal" data-modal-toggle="crud-modal">
                Edit
              </button>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <!-- Add modal partials here -->
  <%= render partial: 'edit_note_modal' %>
  <%= render partial: 'crud_modal' %>
</div>
