<div class="flex items-center justify-center h-screen p-8 bg-gray-100">
  <!-- Main Form Content -->
  <div class="w-full max-w-3xl lg:max-w-5xl p-1">
    <h1 class="text-2xl font-bold text-left mb-1"><%= @cohort.cohort_name %></h1>
    <h1 class="text-2xl font-bold text-left mb-8"><%= @current_program.name %></h1>
    <!-- Form Container -->
    <%= form_with model: @cohort_member, url: cohort_members_path, method: :post do |form| %>
      <%= form.hidden_field :cohort_id, value: @cohort.id %>
      <!-- Hidden Fields for Mentor and Mentee Emails -->
      <%= form.hidden_field :mentor_emails, id: "hidden_mentor_emails" %>
      <%= form.hidden_field :mentee_emails, id: "hidden_mentee_emails" %>
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">

       <%= render partial: "mentor_mentee_section", locals: {
                    form: form,
                    title: "Mentors",
                    email_field: :mentor_emails,
                    email_input_id: "mentors_emails",
                    data_role: "mentor",
                    list_id: "mentor_list",
                  } %>

        <%= render partial: "mentor_mentee_section", locals: {
                     form: form,
                     title: "Mentees",
                     email_field: :mentee_emails,
                     email_input_id: "mentees_emails",
                     data_role: "mentee",
                     list_id: "mentee_list",
                   } %>
      </div>
      <!-- Save Button -->
      <div class="mt-8 flex justify-center">
        <%= form.submit "Save", class: "bg-black text-white font-semibold py-2 px-8 rounded-lg hover:bg-gray-900 transition duration-200" %>
      </div>
    <% end %>
    <!-- Back Link -->
    <div class="flex justify-center mt-4">
      <%= link_to "Back to dashboard", dashboard_path(role: "admin"), class: "text-black hover:underline" %>
    </div>
  </div>
</div>
<!-- JavaScript -->
<%= render partial: "email_script" %>

