<div id="<%= dom_id program %>">
  <p>
    <strong>Name:</strong>
    <%= program.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= program.description %>
  </p>

  <p>
    <strong>Creator:</strong>
    <%= program.creator_id %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= program.contact_id %>
  </p>

</div>
