<h1>Available Mentors</h1>
<% mentors_data.each do |mentor| %>
    <div class="mb-8">
        <img src="<%= mentor.profile_picture %>" alt="Mentor Image">

        <h2><%= mentor.name %></h2>
        <h3><%= mentor.title %></h3>
        
        <% mentor.skills_array.each do |skill| %>
            <span><%= skill %></span>
        <% end %>
            
        <a href="<%= profile_path(mentor.id) %>"><strong>View</strong></a>
    </div>
<% end %>
