<div 
  id="userModal" 
  class="fixed inset-0 bg-gray-900 bg-opacity-50 items-center justify-center z-30 hidden"
>
  <div class="bg-white p-8 rounded-lg shadow-lg w-[350px] space-y-6">
    <div class="flex items-center space-x-4">
      <img 
        src="<%= asset_path("sample_img/user_mini_image.png") %>" 
        alt="default_user_picture" 
        class="w-20 h-20 object-cover rounded-full border"
      />
      <div>
        <h2 class="text-2xl font-semibold"><%= current_user.name %></h2>
        <p class="text-sm text-gray-500"><%= current_user.title %></p>
      </div>
    </div>

    <div class="space-y-2">
      <div class="flex justify-between text-gray-700">
        <span class="font-medium">LinkedIn:</span>
        <a 
          href="<%= current_user.linkedin_link %>" 
          target="_blank" 
          class="text-blue-600 hover:underline"
        >
          View Profile
        </a>
      </div>
      <div class="flex justify-between text-gray-700">
        <span class="font-medium">Email:</span>
        <span><%= current_user.email %></span>
      </div>
      <div class="flex justify-between text-gray-700">
        <span class="font-medium">Role:</span>
        <span>Mentor</span>
      </div>
      <div class="text-gray-700">
        <span class="font-medium">Bio:</span>
        <p class="mt-1 text-sm text-gray-600">
          <%= current_user.bio %>
        </p>
      </div>
    </div>

    <button 
      class="w-full bg-gray-800 hover:bg-black transition duration-300 text-white px-4 py-2 rounded"
      onclick="toggleModal()"
    >
      Close
    </button>
  </div>
</div>

<script>
  function toggleModal() {
    const modal = document.getElementById('userModal');
    modal.classList.toggle('hidden');
    modal.classList.toggle('flex');
  }
</script>
