<%= form_with(model: match, class: "space-y-4") do |form| %>
  <% if match.errors.any? %>
    <div class="bg-red-100 text-red-700 p-4 rounded-lg">
      <h2 class="font-semibold mb-2">
        <%= pluralize(match.errors.count, "error") %> prohibited this match from being saved:
      </h2>
      <ul class="list-disc pl-5">
        <% match.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :match_id, value: match.id %>
  <%= form.hidden_field :cohort_id, value: cohort.id %>
  <%= form.hidden_field :updated_at, value: @current_time_in_user_zone %>

  <div class="flex flex-col mb-4">
    <%= form.label :mentor_id, class: "font-medium mb-1"%>
    <%= form.collection_select :mentor_id, User.mentors_in_cohort(cohort.id), :id, :name, { prompt: "Select a user" }, 
    { class: "form-select border border-gray-300 rounded-lg p-2 focus:outline-none focus:ring-2 focus:ring-blue-500"  } %>
  </div>

  <div class="flex flex-col mb-4">
    <%= form.label :mentee_id, class: "font-medium mb-1" %>
    <%= form.collection_select :mentee_id, User.mentees_in_cohort(cohort.id), :id, :name, { prompt: "Select a user" }, 
    { class: "form-select border border-gray-300 rounded-lg p-2 focus:outline-none focus:ring-2 focus:ring-blue-500" } %>
  </div>

  <div class="flex justify-end">
    <%= form.submit "Save Match",
                    class: "bg-gray-800 hover:bg-black text-white font-semibold px-4 py-2 rounded-lg transition duration-300" %>
  </div>
<% end %>
