<div id="<%= dom_id match %>">
  <p>
    <strong>Mentor:</strong>
    <%= match.mentor_id %>
  </p>

  <p>
    <strong>Mentee:</strong>
    <%= match.mentee_id %>
  </p>

  <p>
    <strong>Cohort:</strong>
    <%= match.cohort_id %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= match.active %>
  </p>
</div>
