<% count = 1 %>
<div class="overflow-x-auto rounded-lg shadow-lg mb-5" id="matches">
      <table class="min-w-full bg-white border border-gray-300 divide-y divide-gray-200">
        <thead class="bg-[#202020]">
          <tr>
            <th class="py-3 px-6 text-left text-md font-semibold text-white tracking-wider text-center">No.</th>
            <th class="py-3 px-6 text-left text-md font-semibold text-white tracking-wider text-center">Mentor</th>
            <th class="py-3 px-6 text-left text-md font-semibold text-white tracking-wider text-center">Mentee</th>
            <th class="py-3 px-6 text-left text-md font-semibold text-white tracking-wider text-center">Matched Date</th>
            <th class="py-3 px-6 text-left text-md font-semibold text-white tracking-wider text-center">Actions</th>
          </tr>
        </thead>
        <% @matches.each do |match| %>
          <tbody class="divide-y divide-gray-200 text-align-center" id="members-container">
            <tr class="member-item hover:bg-gray-50 text-center">
              <td class="py-4 px-6 text-sm"><%= count %></td>
              <td class="py-4 px-6 text-sm">
                <%= match.mentor.name %>
              </td>
              <td class="py-4 px-6 text-sm">
                <%= match.mentee.name %>
              </td>
              <td class="py-4 px-6 text-sm">
                <% date = match.updated_at %>
                <%= date.strftime("%Y-%m-%d") %>
              </td>
              <td class="py-4 text-sm text-gray-800">
                <div>
                  <button id="openModalBtn" class="text-yellow-600 hover:text-yellow-800 font-medium px-14 py-1 mb-2 bg-yellow-50 rounded-md shadow-sm hover:bg-yellow-100 edit-button" 
                    onclick="openModal('<%=match.id%>_edit_match_modal')">
                    Edit
                  </button>
                </div>
                  <%= button_to "Delete", match, method: :delete, 
                    class: "text-red-600 hover:text-red-800 font-medium px-12 py-1 bg-red-50 rounded-md shadow-sm hover:bg-red-100 delete-button" %> 
                <div>
              </div>
              </td>
            </tr>
          </tbody>
          <% count += 1 %>
          <%= render "matches/edit_match_modal", match: match %>
        <% end %>
      </table>
    </div>