<div class="grid grid-cols-3 gap-5">
  <div class="p-6 bg-white shadow-sm rounded-[0.8rem]">
    <p class="text-xs font-medium text-[#898989] pb-2">Operating Period</p>
    <div class="flex justify-between">
      <h3 id="cohort_name" class="text-lg font-semibold capitalize">
        <%= @cohort.start_date.strftime('%Y. %m. %d') %> - <%= @cohort.end_date.strftime('%m. %d') %>
      </h3>
      <img src="<%= asset_path('icon/category.svg') %>" class="w-[1.5rem] fill-current">
    </div>
  </div>
  <div class="p-6 bg-white shadow-sm rounded-[0.8rem]">
    <p class="text-xs font-medium text-[#898989] pb-2">Number of Active Mentors</p>
    <div class="flex justify-between">
      <h3 id="number_of_pairings" class="text-lg font-semibold">
        TODO
<!--        <%#= @cohorts.first&.pairing_number || '0' %> Pairs-->
      </h3>
      <img src="<%= asset_path('icon/2_user_gray.svg') %>" class="w-[1.5rem] fill-current">
    </div>
  </div>
  <div class="p-6 bg-white shadow-sm rounded-[0.8rem]">
    <p class="text-xs font-medium text-[#898989] pb-2">Number of Active Mentors</p>
    <div class="flex justify-between">
      <h3 id="scheduled_meetings" class="text-lg font-semibold">
        TODO
      </h3>
      <img src="<%= asset_path('icon/2_user_gray.svg') %>" class="w-[1.5rem] fill-current">
    </div>
  </div>
</div>