<section class="p-5">
  <h1 class="text-2xl font-semibold text-[#202020] mb-1">
    <% if @role == "Mentor" %>
      Mentor Profile
    <% elsif @role == "Mentee" %>
      Mentee Profile
    <%end%>
  </h1>
  <p class="text-sm text-[#898989] mb-5">Discover insights and stories from our mentors and mentees to inspire your own
    journey.</p>

  <!--top profile card-->
  <div class="bg-[#FFFFFF] flex gap-5 py-5 border-slate-300 rounded-lg px-5 w-895px h-171px mb-3">
    <div>
      <!--    <img src=<%#= user.profile_picture %> alt="user_profile_picture" class="w-24 h-24 object-cover rounded-lg border">-->
      <img src=<%= asset_path('sample_img/mentor_sample.png') %> alt="user_profile_picture" class="w-24 h-24 object-cover rounded-lg border">
    </div>
    <div>
      <b class="text-lg text-[#202020] font-bold"><%= user.first_name %> <%= user.last_name %></b>
      <p class="text-sm	text-[#202020] mb-2.5"><%= user.title %></p>
      <div>
        <div class="flex gap-1 mb-2">
          <img src="<%= asset_path('icon/office.svg') %>" alt="office" class="max-w-15 max-h-15">
          <p class="text-xs text-[#202020]">Discovery Partners Institute</p>
        </div>
        <!-- TODO <p><%#= user.company %></p> -->
        <div class="grid grid-cols-1 gap-1.5 sm:grid-cols-2 sm:gap-4">
          <div class="flex gap-1">
            <img src="<%= asset_path('icon/LinkedIn.svg') %>" alt="LinkedIn" class="max-w-15 max-h-15">
            <p class="text-xs text-[#202020] whitespace-nowrap"><a href="<%= user.linkedin_link %>"><%= user.linkedin_link %></a></p>
          </div>
          <div class="flex gap-1">
            <img src="<%= asset_path('icon/mail.svg') %>" alt="mail" class="max-w-13 max-h-14">
            <p class="text-xs text-[#202020]"><a href="mailto:<%= user.email %>"><%= user.email %></a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--bottom profile card-->
  <div class="grid grid-cols-1 gap-1.5 sm:grid-cols-[2fr_1fr] sm:gap-3 w-895px">
    <!--  about-->
    <div class="bg-[#FFFFFF] flex flex-col justify-start space-y-4 py-5 border-slate-300 rounded-lg px-5 mb-2 h-full">
      <b class="text-lg text-[#202020] font-bold">
        <% if @role == "Mentor" %>
          About Mentor
        <% elsif @role == "Mentee" %>
          About Mentee
        <%end%>
      </b>
      <p class="text-xs text-[#202020] flex-grow"><%= user.bio %></p>
      <% if @role == "Mentor" %>
        <%= button_to 'Mentorship Request', create_request_profile_path(user.id),
          class: "text-xs bg-[#202020] text-[#FFFFFF] border border-transparent rounded-md 
                  py-2 px-5 mr-auto hover:bg-transparent hover:text-[#202020] hover:border-[#202020]",
          method: :post %>
      <%end%>    
    </div>
    <div class="flex flex-col gap-3">
      <div class="bg-[#FFFFFF] flex-col space-y-3 py-5 border-slate-300 rounded-lg px-5">
        <b class="text-lg text-[#202020] font-bold">Skills</b>
        <div class="flex gap-1.5">
          <% user.skills_array.each do |skill| %>
            <p class="text-xs text-[#202020] bg-[#EEF6F8] rounded-md py-0.5 px-1"><%= skill %></p>
          <% end %>
        </div>
      </div>
      <% if @role == "Mentor" %>
        <div class="bg-[#FFFFFF] flex-col space-y-3 py-5 border-slate-300 rounded-lg px-5">
          <b class="text-lg text-[#202020] font-bold">Mentee Capacity</b>
          <div>
            <div class="flex gap-1 mb-2">
              <img src="<%= asset_path('icon/users.svg') %>" alt="office" class="max-w-15 max-h-15">
              <!-- TODO: cohort_members.capacity-->
              <p class="text-xs text-[#202020]"><b><%=@current_mentee_count%>/<%=@capacity_cap%></b> mentees</p>
            </div>
          </div>
        </div>
      <%end%>
    </div>
  </div>

</section>