<!DOCTYPE html>
<html>
<head>
  <title>MentE::DPI Mentorship Platform</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="icon" type="image/svg" href="/assets/icon/mente_logo.svg">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <script src="https://cdn.tailwindcss.com"></script>
  <%= render partial: "shared/cdn_assets" %>
  <%= stylesheet_link_tag "application.tailwind", "data-turbo-track": "reload" %>
  <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />
  <%= stylesheet_link_tag "application" %>
  <%= javascript_importmap_tags %>
</head>
<body class="min-h-screen flex flex-col">
<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts@3.46.0/dist/apexcharts.min.js"></script>
<% if current_page?(home_path) %>
  <%= render 'shared/landing_nav_mb' %>
  <%= render 'shared/landing_nav' %>
<% else %>
  <%= render 'shared/navbar' %>
  <%= render 'shared/navbar_mb' %>
<% end %>
  <div>
    <% if notice.present? %>
      <%= render partial: "shared/flash_notice", locals: { message: notice, css_class: "success" } %>
    <% end %>
    <% if alert.present? %>
      <%= render partial: "shared/flash_alert", locals: { message: alert, css_class: "danger" } %>
    <% end %>
  </div>
  <%= yield %>
<%= render partial: "shared/footer" %>
</body>
</html>
